body {
    background-image: url(https://img.freepik.com/free-photo/green-leaf-texture-leaf-texture-background_501050-120.jpg?t=st=1726133982~exp=1726137582~hmac=d9bf3381621386a7f8c907354b28cfad5f372bff2c26bc05e59be5e3c45b7ec7&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
}